<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIP CRUD Challenge</title>
    </head>
    <body>
        <h2>Cadastro</h2>

        <form action="/" method="post" id="form">
            <p class="insert-name">
            	<label for="input-name">Nome:</label> <input type="text" name="name" id="input-name" placeholder="Jaiminho">
            </p>
            
            <p class="insert-name">
                <label for="input-surname">Sobrenome:</label> <input type="text" name="surname" id="input-surname" placeholder="Faria">
            </p>
            
            <p class="insert-age">
                <label for="input-age">Idade:</label> <input type="number" name="age" id="input-age" placeholder="69">
            </p>
            
            <p class="insert-city">
                <label for="input-city">Cidade:</label> <input type="text" name="city" id="input-city" placeholder="Maranguapi">
            </p>
            
            <p class="insert-state">
                <label for="input-state">Estado:</label> <input type="text" name="state" id="input-state" placeholder="Acre">
            </p>
        
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>